
@use './partials/vars' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/montserrat/index.css';

body {
  font-family: $main-font;
  background-color: $main-color;
  color: white;
}

img {
  max-width: 100%;
}