
@use './partials/vars' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/montserrat/index.css';

body {
  font-family: $main-font;
  background-color: $main-color;
  color: white;
}
h1 {
  font-weight: bold;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-size: 1rem;
  color: #7C6E5E;
}
h5 {
  font-size: .95rem;
  color: #7C6E5E;
}

img {
  max-width: 100%;
  max-height: 200px;
}